<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
 -->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="notification-screen">
    <div class="list">
      <ion-label class="type">Promos</ion-label>
      <ion-label class="title">You got 10% off from your last order</ion-label>
      <ion-label class="sub-title">This gift can you use in next order</ion-label>
    </div>
    <div class="list">
      <ion-label class="type">Transaction</ion-label>
      <ion-label class="title">Waiting for payment</ion-label>
      <ion-label class="sub-title">This gift can you use in next order</ion-label>
    </div>
    <div class="list">
      <ion-label class="type">Info</ion-label>
      <ion-label class="title">Rate your order experience</ion-label>
      <ion-label class="sub-title">This gift can you use in next order</ion-label>
    </div>
    <div class="list">
      <ion-label class="type">Promos</ion-label>
      <ion-label class="title">Bananas day!</ion-label>
      <ion-label class="sub-title">Get 5% off to all banana</ion-label>
    </div>
  </div>
</ion-content>