<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
 -->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="onClose('close')">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Fruits, Vegetables, Eggs." inputmode="text" type="text" style="padding: 0px;"
      [debounce]="250"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="shop-screen">
    <ion-row class="product-list">
      <ion-col size="6" *ngFor="let item of util.productsList;let i = index;">
        <div class="product-content" (click)="onClose('ok',i)">
          <div class="badge"> <ion-label class="lbl-off">{{item.off}}%</ion-label> </div>
          <div class="image" [ngStyle]="{'background-image': 'url('+item.images+')'}"></div>
          <ion-label class="title">{{item.name}}</ion-label>
          <ion-label class="value">{{item.value}}</ion-label>
          <ion-label class="price"> <span class="active">₹ {{item.price}}</span> &nbsp; <span class="deactive">₹
              296</span>
          </ion-label>
          <div class="add-btn" *ngIf="i % 2 == 0">
            <div class="btn">
              <ion-icon slot="icon-only" name="add-circle-outline" class="icon-name"></ion-icon>
            </div>
          </div>

          <div class="cart-btn" *ngIf="i % 2 != 0">
            <div class="btn">
              <ion-icon slot="icon-only" name="remove-circle-outline" class="icon-name"></ion-icon>
            </div>
            <ion-label class="lbl">{{i}}</ion-label>
            <div class="btn">
              <ion-icon slot="icon-only" name="add-circle-outline" class="icon-name"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>