<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
 -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="shop">
      <ion-icon aria-hidden="true" name="storefront-outline"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon aria-hidden="true" name="bag-handle-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon aria-hidden="true" name="newspaper-outline"></ion-icon>
      <ion-label>My Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>