/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
*/
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "regular";
  src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "medium";
  src: url(assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "bold";
  src: url(assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "semi-bold";
  src: url(assets/fonts/Poppins-SemiBold.ttf);
}

* {
  font-family: "regular";
}

ion-label {
  display: block !important;
}

ion-content {
  --background: #fff;
}

ion-title {
  font-size: 14px !important;
  font-family: 'bold' !important;
  text-align: start;
}

ion-toolbar {
  --background: #fff;
}

ion-button {
  font-family: 'bold';
  text-transform: capitalize;
}

.title-search-item {
  --padding-start: 20px;
  --background: #f3f3f3;
  border-radius: 10px;

  .lbl {
    font-size: 12px;
    font-family: 'regular';
    color: var(--ion-color-medium);
  }

  .search-icon {
    font-size: 16px;
    font-family: 'regular';
  }
}

ion-modal.custom_modal {
  .modal-wrapper {
    width: 100% !important;
  }

  &.bottom {
    align-items: center !important;
  }

  --height: 400px;
  align-items: center;
  padding: 15px;
  --border-radius:20px;
}

.d-flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome_screen {
  height: 100vh;
  background-color: var(--ion-color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .logo-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    .title-logo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .logo {
        height: 150px;
        width: 150px;
        background-color: #fff;
        border-radius: 50%;

        .img {
          height: 150px;
          width: 150px;
          padding: 10px;
          border-radius: 50%;
        }
      }

      .title {
        font-size: 18px;
        font-family: 'bold';
        color: #fff;
        text-align: center;
        margin: 20px 0px;
      }
    }
  }

  .bottom-content {
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 16px;
    width: 100%;

    .title {
      font-size: 16px;
      font-family: 'bold';
      text-align: start;
      color: var(--ion-color-dark);
      margin: 5px 0px;
    }

    .sub-title {
      font-size: 12px;
      font-family: 'semi-bold';
      text-align: start;
      color: var(--ion-color-medium);
      margin: 5px 0px;
    }

    .register_btn {
      font-family: 'regular';
      font-size: 14px;

      .register-lbl {
        font-family: 'semi-bold';
        color: var(--ion-color-primary);
        padding: 0px 5px;
      }
    }
  }
}

.login-screen {
  .title {
    font-size: 18px;
    font-family: 'bold';
    color: var(--ion-color-dark);
    text-align: start;
    margin: 5px 0px;
  }

  .sub-title {
    font-size: 12px;
    font-family: 'regular';
    color: var(--ion-color-medium);
    text-align: start;
  }

  .break {
    height: 20px;
  }

  .input-content {
    margin: 20px 0px;
    border-bottom: 1px solid lightgray;
    --padding-start: 0px;

    ion-input {
      font-family: 'regular';
    }

    .end-btn {
      margin: 0px !important;
    }
  }

  .or-btn {
    text-align: center;
    font-size: 14px;
    font-family: 'regular';
    color: var(--ion-color-medium);
  }

  .other-btn {
    margin: 10px 0px;
  }
}

.shop-screen {
  .order-again {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;

    .user-cover {
      height: 40px;
      width: 40px;
      background-position: center;
      background-size: cover;
      border-radius: 10px;
    }

    .lbl {
      .title {
        font-size: 12px;
        font-family: 'bold';
        color: var(--ion-color-dark);
      }

      .sub-title {
        font-size: 10px;
        font-family: 'regular';
        color: var(--ion-color-medium);
      }
    }

    ion-button {
      font-size: 10px;
    }
  }

  .title-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .head-title {
      font-size: 16px;
      font-family: 'bold';
      color: var(--ion-color-dark);
      text-align: start;
      padding: 10px 0px;
    }

    ion-button {
      --padding-end: 0px;
      --padding-start: 0px;
    }
  }

  .cate_list {
    .cate-content {
      .cate-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .cate-image {
          height: 80px;
          width: 80px;
          border: 1px solid lightgray;
          border-radius: 10px;

          .img {
            height: 80px;
            width: 80px;
            padding: 10px;
          }
        }

        .name {
          margin: 5px 0px;
          font-family: 'regular';
          font-size: 12px;
          color: var(--ion-color-medium);
        }
      }
    }
  }

  .slider {
    .slide-image {
      height: 150px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 15px;
    }
  }

  .product-list {
    .product-content {
      background-color: #f3f3f3;
      border-radius: 10px;
      padding: 5px;
      position: relative;

      .badge {
        position: absolute;
        top: 10px;
        right: 10px;
        background: var(--ion-color-warning);
        padding: 5px;
        border-radius: 5px;

        .lbl-off {
          font-size: 12px;
          color: #fff;
          font-family: 'bold';
        }
      }

      .image {
        height: 150px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .title {
        font-size: 16px;
        font-family: 'bold';
        color: var(--ion-color-dark);
        text-align: center;
      }

      .value {
        font-size: 12px;
        font-family: 'semi-bold';
        color: var(--ion-color-medium);
        text-align: center;
      }

      .price {
        text-align: center;

        .active {
          font-family: 16px;
          font-family: 'bold';
          color: var(--ion-color-primary);
          text-align: center;
        }

        .deactive {
          font-family: 14px;
          font-family: 'regular';
          color: var(--ion-color-medium);
          text-align: center;
          text-decoration: line-through;
        }
      }

      .add-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;

        .btn {
          height: 25px;
          width: 40px;
          background-color: var(--ion-color-primary);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 5px;

          .icon-name {
            color: #fff;
            font-size: 20px;
            line-height: 20px;
          }
        }
      }

      .cart-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;

        .lbl {
          font-size: 16px;
          font-family: 'bold';
          margin: 0px 10px;
        }

        .btn {
          height: 25px;
          width: 40px;
          background-color: var(--ion-color-primary);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 5px;

          .icon-name {
            color: #fff;
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

.horizontal-list {
  .product-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;

    .image {
      background-color: #f3f3f3;
      border-radius: 5px;
      position: relative;

      .badge {
        position: absolute;
        top: 5px;
        left: 5px;
        background: var(--ion-color-warning);
        padding: 2px;
        border-radius: 5px;

        .lbl-off {
          font-size: 12px;
          color: #fff;
          font-family: 'bold';
        }
      }

      .img {
        height: 80px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .product-info {
      .title {
        font-size: 16px;
        font-family: 'bold';
        color: var(--ion-color-dark);
        text-align: start;
      }

      .value {
        font-size: 12px;
        font-family: 'semi-bold';
        color: var(--ion-color-medium);
        text-align: start;
      }

      .price {
        text-align: start;

        .active {
          font-family: 16px;
          font-family: 'bold';
          color: var(--ion-color-primary);
          text-align: start;
        }

        .deactive {
          font-family: 14px;
          font-family: 'regular';
          color: var(--ion-color-medium);
          text-align: start;
          text-decoration: line-through;
        }
      }
    }

    .add-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 10px 0px;

      .btn {
        height: 25px;
        width: 40px;
        background-color: var(--ion-color-primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        .icon-name {
          color: #fff;
          font-size: 20px;
          line-height: 20px;
        }
      }
    }

    .cart-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 0px;

      .lbl {
        font-size: 16px;
        font-family: 'bold';
        margin: 0px 10px;
      }

      .btn {
        height: 25px;
        width: 40px;
        background-color: var(--ion-color-primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        .icon-name {
          color: #fff;
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }
}

.product-info {
  .cover {
    padding: 10px;
    position: relative;

    .img {
      height: 350px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .imgs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      right: 10px;
      background: #f3f3f3;
      border-radius: 5px;
      padding: 5px;

      ion-icon {
        font-size: 18px;
      }

      .count {
        font-size: 16px;
        font-family: 'bold';
        color: var(--ion-color-primary);
      }
    }
  }

  .name {
    padding: 0px 16px;

    .title {
      font-size: 16px;
      font-family: 'bold';
      color: var(--ion-color-dark);
      text-align: start;
    }

    .value {
      font-size: 12px;
      font-family: 'semi-bold';
      color: var(--ion-color-medium);
      text-align: start;
    }

    .price {
      text-align: start;

      .active {
        font-family: 16px;
        font-family: 'bold';
        color: var(--ion-color-primary);
        text-align: start;
      }

      .deactive {
        font-family: 14px;
        font-family: 'regular';
        color: var(--ion-color-medium);
        text-align: start;
        text-decoration: line-through;
      }
    }
  }

  .break {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin: 10px 0px;
  }

  .head-title {
    font-size: 16px;
    font-family: 'bold';
    color: var(--ion-color-dark);
    padding: 10px 16px;
  }

  .sub-title {
    font-size: 14px;
    font-family: 'regular';
    color: var(--ion-color-medium);
    padding: 10px 16px;
  }

  .slider {
    padding: 10px 16px;

    .product-content {
      background-color: #f3f3f3;
      border-radius: 10px;
      padding: 5px;
      position: relative;
      width: 100%;

      .badge {
        position: absolute;
        top: 10px;
        right: 10px;
        background: var(--ion-color-warning);
        padding: 5px;
        border-radius: 5px;

        .lbl-off {
          font-size: 12px;
          color: #fff;
          font-family: 'bold';
        }
      }

      .image {
        height: 150px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .title {
        font-size: 16px;
        font-family: 'bold';
        color: var(--ion-color-dark);
        text-align: center;
      }

      .value {
        font-size: 12px;
        font-family: 'semi-bold';
        color: var(--ion-color-medium);
        text-align: center;
      }

      .price {
        text-align: center;

        .active {
          font-family: 16px;
          font-family: 'bold';
          color: var(--ion-color-primary);
          text-align: center;
        }

        .deactive {
          font-family: 14px;
          font-family: 'regular';
          color: var(--ion-color-medium);
          text-align: center;
          text-decoration: line-through;
        }
      }

      .add-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;

        .btn {
          height: 25px;
          width: 40px;
          background-color: var(--ion-color-primary);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 5px;

          .icon-name {
            color: #fff;
            font-size: 20px;
            line-height: 20px;
          }
        }
      }

      .cart-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;

        .lbl {
          font-size: 16px;
          font-family: 'bold';
          margin: 0px 10px;
        }

        .btn {
          height: 25px;
          width: 40px;
          background-color: var(--ion-color-primary);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 5px;

          .icon-name {
            color: #fff;
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

.checkout-cart-btn {
  background-color: var(--ion-color-primary);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;

  .lbl-cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .title-lbl-cart {
      font-size: 16px;
      font-family: 'bold';
      color: #fff;
      text-align: start;
    }

    .sub-title-cart {
      font-size: 14px;
      font-family: 'regular';
      color: #fff;
      text-align: start;
    }
  }
}

.account-screen {
  .profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .user-cover {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      padding: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .name {
      font-size: 18px;
      font-family: 'bold';
      color: var(--ion-color-dark);
      text-align: center;
      margin: 10px 0px 5px 0px;
    }

    .email {
      font-family: 'semi-bold';
      font-size: 12px;
      color: var(--ion-color-medium);
      text-align: center;
    }

    .break {
      height: 10px;
    }
  }

  .item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;

    .lbl-account {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .title-lbl-account {
        font-size: 16px;
        font-family: 'bold';
        color: var(--ion-color-dark);
        text-align: start;
      }

      .sub-title-account {
        font-size: 14px;
        font-family: 'regular';
        color: var(--ion-color-medium);
        text-align: start;
      }
    }
  }
}

.promo-details {
  .promo-cover {
    height: 170px;
    width: 100%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title {
    font-size: 18px;
    font-family: 'bold';
    color: var(--ion-color-dark);
    text-align: start;
    margin: 10px 0px;
  }

  .sub-title {
    font-size: 14px;
    font-family: 'regular';
    color: var(--ion-color-medium);
    text-align: start;
    margin: 10px 0px;
  }

  .head-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;

    .small-text {
      font-size: 12px;
      font-family: 'regular';
      color: var(--ion-color-medium);
      text-align: start;
      margin: 10px 0px;
    }
  }

  .title-lbl {
    font-size: 16px;
    font-family: 'bold';
    color: var(--ion-color-dark);
    text-align: start;
    margin: 10px 0px;
  }

  .small-lbl {
    font-size: 14px;
    font-family: 'regular';
    color: var(--ion-color-medium);
    text-align: start;
    margin: 10px 0px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
  }

  .item-content {
    --padding-start: 0px;
  }
}

.order-list {
  .order {
    .head {
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .status {
        padding: 5px;
        border-radius: 5px;

        .status-lbl {
          font-size: 10px;
          font-family: 'bold';
        }
      }

      .date {
        font-size: 12px;
        font-family: 'semi-bold';
        color: var(--ion-color-medium);
      }
    }

    .invoice-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      .info {
        .info-title {
          font-family: 'semi-bold';
          font-size: 12px;
          color: var(--ion-color-medium);
        }

        .bold-title {
          font-family: 'bold';
          font-size: 12px;
          color: var(--ion-color-dark);
          text-transform: uppercase;
        }
      }
    }

    .items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;

      .item-title {
        font-size: 12px;
        font-family: 'semi-bold';
        text-align: start;
        color: var(--ion-color-medium);
      }

      .item-price {
        font-size: 12px;
        font-family: 'semi-bold';
        text-align: end;
        color: var(--ion-color-medium);
      }
    }
  }
}

.order-details {
  .sub-title {
    font-size: 14px;
    font-family: 'semi-bold';
    color: var(--ion-color-medium);
    text-align: start;
    padding: 5px 16px;
  }

  .break {
    margin: 10px 0px;
    height: 1px;
    width: 100%;
    background-color: #f3f3f3;
  }

  .title {
    font-size: 16px;
    font-family: 'bold';
    color: var(--ion-color-dark);
    text-align: start;
    padding: 5px 16px;
  }

  .tracking_div {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 15%;

      .line_div {
        height: 30px;
        width: 1px;
        border: 1px solid var(--ion-color-primary);
      }

      .line_div_darkgray {
        height: 30px;
        width: 1px;
        border: 1px solid var(--ion-color-primary);
      }

      .round_div_gray {
        height: 20px;
        width: 20px;
        background-color: #e8e8e8;
        border-radius: 50%;
        margin-left: -9px;
      }

      .round_div_darkgray {
        height: 20px;
        width: 20px;
        background-color: #c8c7ce;
        border-radius: 50%;
        margin-left: -9px;
      }

      .round_div_red {
        height: 20px;
        width: 20px;
        background-color: var(--ion-color-primary);
        border-radius: 50%;
        margin-left: -9px;
      }

      ion-icon {
        font-size: 20px;
        margin-left: -7px;
        color: var(--ion-color-primary);
        background: #f4f5f8;
        border-radius: 50%;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 80%;

      .line_div {
        height: 30px;
        width: 100%;
        display: flex;
        align-items: flex-end;

        ion-label {
          font-size: 11px;
          font-family: 'bold';
        }
      }

      .round_div_gray {
        height: 20px;
        width: 100%;
        color: #c8c7ce;
        font-size: 12px;
        font-family: 'regular';
      }

      .round_div_red {
        height: 20px;
        width: 100%;
        color: var(--ion-color-main);
      }

      .round_div_darkgray {
        height: 25px;
        width: 100%;
        color: gray;
      }
    }
  }

  .invoice-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .info {
      .info-title {
        font-family: 'semi-bold';
        font-size: 12px;
        color: var(--ion-color-medium);
      }

      .bold-title {
        font-family: 'bold';
        font-size: 12px;
        color: var(--ion-color-dark);
        text-transform: uppercase;
      }
    }
  }

  .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    .item-title {
      font-size: 12px;
      font-family: 'semi-bold';
      text-align: start;
      color: var(--ion-color-medium);
    }

    .item-price {
      font-size: 12px;
      font-family: 'semi-bold';
      text-align: end;
      color: var(--ion-color-medium);
    }
  }
}

.review-cart {
  .break-title {
    padding: 10px 16px;
    background-color: #f3f3f3;

    .title {
      font-size: 14px;
      font-family: 'semi-bold';
      text-align: start;
    }
  }

  .break-title-other {
    padding: 10px 16px;
    background-color: #f3f3f3;
    margin: 10px 0px;

    .title {
      font-size: 14px;
      font-family: 'semi-bold';
      text-align: start;
    }
  }

  .order-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;

    .name {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .quantity {
        background: #f3f3f3;
        padding: 5px;
        border-radius: 5px;
        margin-right: 5px;

        .title {
          font-size: 12px;
          font-family: 'regular';
          color: var(--ion-color-dark);
        }
      }

      .title-name {
        font-size: 12px;
        font-family: 'regular';
        color: var(--ion-color-dark);
      }

      .title-name-bold {
        font-size: 14px;
        font-family: 'bold';
        color: var(--ion-color-dark);
      }
    }

    .price {
      font-size: 12px;
      font-family: 'regular';
      color: var(--ion-color-dark);
    }

    .price-bold {
      font-size: 14px;
      font-family: 'bold';
      color: var(--ion-color-dark);
    }
  }

  .address-item {
    ion-label {
      font-size: 10px;
      font-family: 'regular';
    }
  }

  .time {
    ion-label {
      font-size: 12px;
      font-family: 'semi-bold';
    }
  }

  .notes {
    margin: 10px 0px;

    ion-textarea {
      border-radius: 5px;
      border: 1px solid #f3f3f3;
      --padding-start: 10px;
    }
  }
}

.checkout-cart {
  .break-title {
    padding: 10px 16px;
    background-color: #f3f3f3;

    .title {
      font-size: 14px;
      font-family: 'semi-bold';
      text-align: start;
    }
  }


  .break-title-other {
    padding: 10px 16px;
    background-color: #f3f3f3;
    margin: 10px 0px;

    .title {
      font-size: 14px;
      font-family: 'semi-bold';
      text-align: start;
    }
  }

  .payment-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;

    .name {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      ion-icon {
        margin-right: 5px;
        font-size: 24px;
      }

      .title-name {
        font-size: 18px;
        font-family: 'regular';
        color: var(--ion-color-dark);
      }

      .title-name-bold {
        font-size: 14px;
        font-family: 'bold';
        color: var(--ion-color-dark);
      }
    }

    .price {
      font-size: 12px;
      font-family: 'regular';
      color: var(--ion-color-dark);
    }

    .price-bold {
      font-size: 14px;
      font-family: 'bold';
      color: var(--ion-color-dark);
    }
  }


}

.add-card {
  .item-content {
    border-bottom: 1px solid #f3f3f3;
    padding: 10px 0px;

    ion-input {
      font-family: 'bold';
      font-size: 14px;
    }
  }
}

.success-screen {
  background-color: var(--ion-color-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .top-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;

    .img {
      height: 80px;
      width: 80px;
    }

    .title {
      font-size: 18px;
      font-family: 'bold';
      color: #fff;
      text-align: center;
      margin: 10px 0px;
    }

    .sub-title {
      font-size: 14px;
      font-family: 'regular';
      color: #fff;
      text-align: center;

      .bold-title {
        font-family: 'bold';
        font-size: 15px;
      }
    }
  }

  .bottom-content {
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 16px;
    width: 100%;

    .title {
      font-family: 'bold';
      font-size: 14px;
      color: var(--ion-color-dark);
      text-align: start;
      margin: 10px 0px;
    }

    .sub-title {
      font-size: 12px;
      font-family: 'regular';
      color: var(--ion-color-medium);
      text-align: start;
      margin: 10px 0px
    }
  }
}

.notification-screen {
  .list {
    padding: 20px 0px;
    border-bottom: 1px solid #f3f3f3;

    .type {
      font-size: 10px;
      font-family: 'bold';
      text-align: start;
      color: var(--ion-color-warning);
    }

    .title {
      font-size: 14px;
      font-family: 'bold';
      text-align: start;
      color: var(--ion-color-dark);
    }

    .sub-title {
      font-size: 12px;
      font-family: 'regular';
      text-align: start;
      color: var(--ion-color-medium);
    }
  }
}

.address-list {
  .address-name {
    border-bottom: 1px solid #f3f3f3;
    padding: 10px 0px;

    .name-title {
      font-size: 14px;
      font-family: 'bold';
      color: var(--ion-color-dark);
    }

    .address-title {
      font-size: 12px;
      font-family: 'regular';
      color: var(--ion-color-medium);
    }
  }
}

.new-address {
  .address-input {
    border-bottom: 1px solid var(--ion-color-primary);
    --padding-start: 0px;
  }

  .primary-button {
    --padding-start: 0px;
  }
}

.help {

  .content-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #f3f3f3;

    .title {
      font-size: 14px;
      text-align: start;
      font-family: 'semi-bold';
      color: var(--ion-color-dark);
    }
  }
}